@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");

:root {
    --primary-color: #06C4ED;
    --secondary-color: #0D141E;
    --accent1-color: #42BE33;
    --accent2-color: #0696D0;

    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;

    --headline-color-on-white: var(--primary-color);
    --headline-color-on-color: white;
    --paragraph-color-on-white: var(--primary-color);
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
    
    --max-width: 100%;
}

/* This section saved me so much work. */
a {
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 100%px;
    font-family: var(--paragraph-font);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}

header img {
    margin: 0 auto;
    max-width: 78px;
    height: auto;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

header nav a, footer a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
}

header nav a:hover, footer a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

main img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}


h1, h2, h3 {
    text-align: center;
}

h1 + p, h1 + p + p {
    text-align: center;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}

.content-container {
    max-width: 100%;
    align-items: center;
    align-content: center;
    padding: 1em;
    margin: 0 auto;

}

ul {
    padding-left: 20px;
    list-style-type: square;
    margin-left: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

p {
    padding: 1em;
    margin: 2em;
    text-align: center;
}

.quote-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
}

.quote-logo {
    width: 100px;
    margin-bottom: 20px;
}

.quote-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;;
}

/* Helps space the buttons, but is technically not needed */
.quote-content {
    position: relative;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.quote {
    display: none;
}

.quote.active {
    display: block;
}

.quote-text {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.quote-author {
    font-size: 1em;
    font-weight: bold;
}

.nav-button {
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 0 10px;
}

.nav-button:hover {
    background-color: darken(var(--secondary-color), 10%);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.footer-column {
    flex: 1;
    padding: 0 1em;
}

.footer-left {
    flex: 3;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subscribe-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#subscribe-form {
    display: flex;
    flex-direction: column;
}

#subscribe-form input[type="email"] {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

#subscribe-form button {
    padding: 0.5em 1em;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#subscribe-form button:hover {
    background-color: darken(var(--secondary-color), 10%);
}

.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1em;
}


.social-links img{
    margin-left: 1em;
    max-height: 1em;
    min-height: 1em;
}


/* Hero section */
.hero {
    background-image: url('../images/hero-background.jpg'); /* Replace with your high-quality background image */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.hero .cta-button {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* align-items: ; */
    justify-content: center;
}

.hero .cta-button:hover {
    background-color: var(--accent2-color);
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 20px;
}

.feature {
    flex: 1 1 30%;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}


.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1em;
}

/* CSS for calculator */

.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 1.1em;
    font-weight: bold;
}

input {
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent2-color);
}

.retirementIncome {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/*  */

@media (min-width: 768px) {
    .content-container {
        max-width: 90%; 
    }
}

@media (min-width: 1024px) {
    .content-container {
        max-width: 75%; 
    }
    h1, h2 {
        font-size: 2.5em; 
        
    }
    p{
        font-size: 1.35em;
    }
}

img.content-image {
    width: 100%; 
    height: auto;
}

@media (min-width: 768px) {
    img.content-image {
        width: 50%; 
    }
}
